In [1]:
%load_ext sql

In [2]:
%sql sqlite:///football.db

'Connected: @football.db'

In [3]:
%%sql
CREATE TABLE FootballTeam(
    TeamName    varchar(255)  PRIMARY KEY,
    Country     text,
    City        text  DEFAULT NULL,
    Founded     date CHECK (Founded < date('now')) ,
    FOREIGN KEY (TeamName) REFERENCES Manage(TeamName),
    FOREIGN KEY (TeamName) REFERENCES BelongTo(TeamName),
    FOREIGN KEY (TeamName) REFERENCES Plays(TeamName)
)

 * sqlite:///football.db
Done.

[]

In [4]:
%%sql
CREATE TABLE HeadCoach(
    Name            varchar(255),
    DateOfBirth     date CHECK (DateOfBirth < date('now')),
    CoachingYears   INT,
    Gender          varchar(1) CONSTRAINT genderCheck CHECK (Gender IN ('M', 'F')),
    PRIMARY KEY     (Name, DateOfBirth),
    FOREIGN KEY (Name) REFERENCES Manage(headCoachName)
)

 * sqlite:///football.db
Done.

[]

In [5]:
%%sql
CREATE TABLE Award(
    TeamName       varchar(255) PRIMARY KEY,
    Competitions   TEXT,
    Titles         INT,
    FOREIGN KEY (TeamName) REFERENCES footballTeam(TeamName) ON DELETE CASCADE
)

 * sqlite:///football.db
Done.

[]

In [6]:
%%sql
CREATE TABLE Matches(
    GameDate       date CHECK (GameDate < date('now')),
    HomeTeam       varchar(255),
    AwayTeam       varchar(255),
    Location       TEXT,
    PRIMARY KEY    (GameDate, HomeTeam, AwayTeam),
    FOREIGN KEY (GameDate) REFERENCES Plays(GameDate),
    FOREIGN KEY (GameDate) REFERENCES Preside(GameDate)
)

 * sqlite:///football.db
Done.

[]

In [7]:
%%sql
CREATE TABLE Referees(
    Name          varchar(255),
    DateOfBirth   date  CHECK (DateOfBirth < date('now')),
    Gender        varchar(1)  CHECK (GENDER IN ('M', 'F')),
    Country       TEXT,
    PRIMARY KEY (Name, DateofBirth)
    FOREIGN KEY (Name) REFERENCES Preside(RefereeName)
)

 * sqlite:///football.db
Done.

[]

In [8]:
%%sql
CREATE TABLE TeamPlayers(
    Name          varchar(255),
    DateOfBirth   date  CHECK (DateOfBirth < date('now')),
    Gender        varchar(1)   CHECK (Gender IN ('M', 'F')),
    Height        FLOAT,
    Position      TEXT,
    Nationality   TEXT,
    PRIMARY KEY   (Name, DateOfBirth),
    FOREIGN KEY   (Name) REFERENCES BelongTo(PlayerName) ON DELETE CASCADE
)

 * sqlite:///football.db
Done.

[]

In [9]:
%%sql
CREATE TABLE BelongTo(
    PlayerName    varchar(255), 
    TeamName      varchar(255),
    DateOfBrith    date  CHECK (DateOfBirth < date('now')),
    PRIMARY KEY (PlayerName, TeamName, DateofBirth)
)

 * sqlite:///football.db
Done.

[]

In [10]:
%%sql
CREATE TABLE Plays(
    TeamName     varchar(255),
    GameDate     date CHECK (GameDate < date('now')),
    HomeTeam     varchar(255),
    AwayTeam     varchar(255),
    PRIMARY KEY  (TeamName, GameDate, HomeTeam, AwayTeam)
)

 * sqlite:///football.db
Done.

[]

In [11]:
%%sql
CREATE TABLE Manage(
    headCoachName   varchar(255),
    TeamName        varchar(255),
    DateOfBirth     date CHECK (DateOfBirth < date('now')),
    PRIMARY KEY     (headCoachName, TeamName, DateOfBirth)
)

 * sqlite:///football.db
Done.

[]

In [12]:
%%sql
CREATE TABLE Preside(
    GameDate    date  CHECK (GameDate < date('now')),
    RefereeName varchar(255),
    PRIMARY KEY (GameDate, RefereeName)
)

 * sqlite:///football.db
Done.

[]

In [13]:
%%sql
CREATE TABLE RetiredPlayers(
    Name         varchar(255),
    DateofBirth  date  CHECK (DateOfBirth < date('now')),
    RetiredDate  date  CHECK (RetiredDate < date('now')),
    FOREIGN KEY  (Name) REFERENCES TeamPlayers(name)
)

 * sqlite:///football.db
Done.

[]

Below are all testing functions 

Also, try to make up and add 10 tuples in each entity

XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX

In [14]:
%%sql
SELECT * FROM headcoach

 * sqlite:///football.db
Done.

[]

In [15]:
%%sql
INSERT INTO footballTeam VALUES ('Inter Milan', 'Italy', 'Milan', '1908-03-09'), 
('Chelsea','England','London', '1905-03-10'),
('Arsenal','England','London','1886-00-00'),
('Manchester City','England','Manchester','1880-01-01'),
('AC Milan','Italy','Milan','1899-12-16'),
('Real Madrid','Spain','Madrid','1902-03-06'),
('Barcelona','Spain','Baecelona','1899-11-29'),
('Bayern Munchen','Germany','Munchen','1900-02-27'),
('Borussia Dortmund','Germany','Dortmund','1909-12-19'),
('Paris Saint-Germain','France','Paris','1970-08-12');

 * sqlite:///football.db
10 rows affected.

[]

In [16]:
%%sql
INSERT INTO Manage Values ('Antonio Conte', 'Inter Milan'),
('Niko Kovac','Bayern Munchen'),
('Maurizio Sarri','Chelsea'),
('Unai Emery Etxegoien','Arsenal'),
('Josep Guardiola i Sala','Manchester City'),
('Gennaro Ivan Gattuso','AC Milan'),
('Zinedine Zidane','Real Madrid'),
('Ernesto Valverde Tejedor','Barcelona'),
('Alston Atwood','Borussia Dortmund'),
('Thomas Tuchel','Paris Saint-Germain');

 * sqlite:///football.db
10 rows affected.

[]

In [17]:
%%sql
INSERT INTO HeadCoach VALUES('Antonio Conte','1957-11-02',2,'M'),
('Niko Kovač','1971-10-15',2,'M'),
('Maurizio Sarri','1959-01-10',2,'M'),
('Unai Emery Etxegoien', '1971-11-03', 1, 'M'), 
('Josep Guardiola i Sala', '1971-01-08', 3, 'M'), 
('Gennaro Ivan Gattuso', '1978-01-09', 1, 'M'),
('Thomas Tuchel','1973-08-29',2,'M'),
('Marco Giampaolo','1967-08-02',1,'M'),
('Zinedine Zidane','1972-06-23',2,'M'),
('Ernesto Valverde Tejedor','1964-02-09',2,'M'),
('Alston Atwood','1972-01-12',3,'M');

 * sqlite:///football.db
11 rows affected.

[]

In [18]:
%%sql
INSERT INTO Plays VALUES ('Inter Milan', '2019-06-02'), ('AC Milan', '2019-06-02'),
('Bayern Munchen','2018-04-01'),('Borussia Dortmund','2018-04-01'),
('Borussia Dortmund','2017-12-21'),('Bayern Munchen','2017-12-21'),
('Bayern Munchen','2017-04-09'),('Borussia Dortmund','2017-04-09'),
('Bayern Munchen','2018-11-09'),('Borussia Dortmund','2018-11-09'),
('Borussia Dortmund','2017-11-05'),('Bayern Munchen','2017-11-05'),
('Baecelona','2016-04-03'),('Real Madrid','2016-04-03'),
('Baecelona','2015-03-25'),('Real Madrid','2015-03-25'),
('Baecelona','2013-10-26'),('Real Madrid','2013-10-26'),
('Real Madrid','2015-11-22'),('Baecelona','2015-11-22'),
('Real Madrid','2014-10-25'),('Baecelona','2014-10-25');

 * sqlite:///football.db
22 rows affected.

[]

In [19]:
%%sql
INSERT INTO Matches VALUES ('2019-06-02', 'Inter Milan', 'AC Milan', 'Milan'),
('2018-04-01','Bayern Munchen','Borussia Dortmund','Munchen'),
('2017-12-21','Bayern Munchen','Borussia Dortmund','Munchen'),
('2017-04-09','Bayern Munchen','Borussia Dortmund','Munchen'),
('2018-11-09','Borussia Dortmund','Bayern Munchen','Dortmund'),
('2017-11-05','Borussia Dortmund','Bayern Munchen','Dortmund'),
('2016-04-03','Barcelona','Real Madrid','Barcelona'),
('2015-03-25','Barcelona','Real Madrid','Barcelona'),
('2013-10-26','Barcelona','Real Madrid','Barcelona'),
('2015-11-22','Real Madrid','Baecelona','Madrid'),
('2014-10-25','Real Madrid','Baecelona','Madrid')

 * sqlite:///football.db
11 rows affected.

[]

In [20]:
%%sql
INSERT INTO preside VALUES ('2019-06-02', 'Ivy Lavish'),
('2018-04-01','Charles Zhao'),
('2017-12-21','Andy Lucus'),
('2017-04-09','Steven Kolin'),
('2018-11-09','Ivy Lavish'),
('2017-11-05','Aiden Liam'),
('2016-04-03','Nathan Jayden'),
('2014-10-25','Nathan Jayden'),
('2015-11-22','Brandon Kulun'),
('2013-10-26','Anthony Tylor'),
('2016-04-03','Aiden Liam');

 * sqlite:///football.db
11 rows affected.

[]

In [21]:
%%sql
INSERT INTO Referees VALUES ('DuoAnziyi', '1991-02-14', 'M', 'China'),
('Ivy Lavish', '1995-07-01', 'F', 'England'),
('Charles Zhao','1993-09-28','M','America'),
('George He','1994-05-06','M','Canada'),
('Andy Lucus','1990-09-21','M','France'),
('Steven Kolin','1989-10-23','M','Italy'),
('David locke','1991-12-11','M','France'),
('Evyleen Dove','1990-03-24','F','Italy'),
('Anthony Tylor','1996-12-21','M','France'),
('Brandon Kulun','1995-11-30','M','England'),
('Aiden Liam','1992-07-04','M','Brazil'),
('Nathan Jayden','1990-05-07','M','England');

 * sqlite:///football.db
12 rows affected.

[]

In [22]:
%%sql 

INSERT INTO BelongTo VALUES ('Robert Lewandowski','Bayern Munchen'),
('Manuel Neuer','Bayern Munchen'),
('Sven Ulreich','Bayern Munchen'),
('Thomas Muller','Bayern Munchen'),
('Niklas Sule','Bayern Munchen'),
('Jerome Agyenim Boateng','Bayern Munchen'),
('David Alaba','Bayern Munchen'),
('Joshua Kimmich','Bayern Munchen'),
('Thiago','Bayern Munchen'),
('Javi Martinez','Bayern Munchen'),
('Leon Goretzka','Bayern Munchen'),
('Corentin Tolisso','Bayern Munchen'),

('Roman Burki','Borussia Dortmund'),
('Marwin Hitz','Borussia Dortmund'),
('Manuel Akanji','Borussia Dortmund'),
('Mats Hummels','Borussia Dortmund'),
('Marcel Schmelzer','Borussia Dortmund'),
('Mario Gotze','Borussia Dortmund'),
('Marco Reus','Borussia Dortmund'),
('Marius Wolf','Borussia Dortmund'),
('Sebastian Rode','Borussia Dortmund'),
('Julian weigl','Borussia Dortmund'),
('Thomas Delaney','Borussia Dortmund'),
('Axel Witsel','Borussia Dortmund'),

('Kepa Arrizabalaga','Chelsea'),
('Antonio Rüdiger','Chelsea'),
('Marcos Alonso','Chelsea'),
('Jorginho','Chelsea'),
('Danny Drinkwater','Chelsea'),
('Ross Barkley','Chelsea'),
('Pedro','Chelsea'),
('Willy Caballero','Chelsea'),
('Olivier Giroud','Chelsea'),
('Davide Zappacosta','Chelsea'),
('Willian','Chelsea'),
('Andreas Christensen','Chelsea'),

('Davide Calabria','AC Milan'),
('José Mauri','AC Milan'),
('Giacomo Bonaventura','AC Milan'),
('Samu Castillejo','AC Milan'),
('Suso','AC Milan'),
('Fabio Borini','AC Milan'),
('Alessio Romagnoli','AC Milan'),
('Andrea Bertolacci','AC Milan'),
('Riccardo Montolivo','AC Milan'),
('Pepe Reina','AC Milan'),
('Alessandro Plizzari','AC Milan'),
('Diego Laxalt','AC Milan'),

('Samir Handanović','Inter Milan'),
('Roberto Gagliardini','Inter Milan'),
('Stefan de Vrij','Inter Milan'),
('Mauro Icardi','Inter Milan'),
('Lautaro Martínez','Inter Milan'),

('Bernd Leno','Arsenal'),
('Mohamed Elneny','Arsenal'),
('Sokratis Papastathopoulos','Arsenal'),
('Laurent Koscielny','Arsenal'),
('Henrikh Mkhitaryan','Arsenal'),
('Alexandre Lacazette','Arsenal'),
('Lucas Torreira','Arsenal'),
('David Ospina','Arsenal'),

('Claudio Bravo','Manchester City'),
('Kyle Walker','Manchester City'),
('Danilo','Manchester City'),
('John Stones','Manchester City'),
('Raheem Sterling','Manchester City'),
('İlkay Gündoğan','Manchester City'),
('Gabriel Je','Manchester City'),
('Gabriel Jesus','Manchester City'),
('Eliaquim Mangala','Manchester City'),
('Kevin De Bruyne','Manchester City'),
('Fabian Delph','Manchester City'),

('Fabian Delph','Real Madrid'),
('Dani Carvajal','Real Madrid'),
('Jesús Vallejo','Real Madrid'),
('Sergio Ramos','Real Madrid'),
('Raphaël Varane','Real Madrid'),
('Nacho','Real Madrid'),
('Mariano','Real Madrid'),
('Toni Kroos','Real Madrid'),
('Karim Benzema','Real Madrid'),
('Gareth Bale','Real Madrid'),
('Marcelo','Real Madrid'),

('Thiago Silva','Paris Saint-Germain'),
('Marquinhos','Paris Saint-Germain'),
('Neymar','Paris Saint-Germain'),
('Leandro Paredes','Paris Saint-Germain'),
('hilo Kehrer','Paris Saint-Germain'),
('Presnel Kimpembe','Paris Saint-Germain'),
('Marco Verratti','Paris Saint-Germain'),
('Edinson Cavani','Paris Saint-Germain'),
('Julian Draxler','Paris Saint-Germain'),
('Thomas Meunier','Paris Saint-Germain'),
('Alphonse Areola','Paris Saint-Germain'),

('Marc-André ter Stegen','Barcelona'),
('Nélson Semedo','Barcelona'),
('Gerard Piqué','Barcelona'),
('Ivan Rakitić','Barcelona'),
('Sergio Busquets','Barcelona'),
('Philippe Coutinho','Barcelona'),
('Arthur Melo','Barcelona'),
('Luis Suárez','Barcelona'),
('Lionel Messi','Barcelona'),
('Ousmane Dembélé','Barcelona'),
('Jordi Alba','Barcelona'),
('Sergi Roberto','Barcelona');

 * sqlite:///football.db
106 rows affected.

[]

In [23]:
%%sql

INSERT INTO TeamPlayers VALUES ('Robert Lewandowski','1988-08-21','M',1.85,'Striker','Poland'),
('Manuel Neuer','1986-03-27','M',1.93,'GoalKeeper','West Germany'),
('Sven Ulreich','1988-08-03','M',1.92,'GoalKeeper','West Germany'),
('Thomas Muller','1989-09-13','M',1.86,'Forward','West Germany'),
('Niklas Sule','1995-09-03','M',1.95,'Centre back','Germany'),
('Jerome Agyenim Boateng','1988-09-03','M',1.92,'Defender','Germany'),
('David Alaba','1992-06-24','M',1.80,'Defender','Austria'),
('Joshua Kimmich','1995-02-08','M',1.76,'Central midfielder','Germany'),
('Thiago','1991-04-11','M',1.74,'Central midfielder','Italy'),
('Javi Martinez','1988-09-02','M',1.90,'Certre back','Spain'),
('Leon Goretzka','1995-02-06','M',1.89,'Central midfielder','Germany'),
('Corentin Tolisso','1994-08-03','M',1.80,'midfielder','France'),

('Roman Burki','1990-11-14','M',1.88,'GoalKeeper','Switzerland'),
('Marwin Hitz','1987-09-18','M',193,'GoalKeeper','Switzerland'),
('Manuel Akanji','1995-07-19','M',1.86,'Defender','Switzerland'),
('Mats Hummels','1988-12-16','M',1.92,'Centre back','Germany'),
('Marcel Schmelzer','1988-01-22','M',1.81,'Left back','Germany'),
('Mario Gotze','1992-06-03','M',1.76,'Attacking midfielder','Germany'),
('Sebastian Rode','1990-10-11','M',1.79,'Midfielder','Germany'),
('Marco Reus','1989-05-31','M',1.80,'Forward','West Germany'),
('Marius Wolf','1995-05-27','M',1.87,'Right back','Germany'),
('Julian weigl','1995-09-08','M',1.87,'Attacking midfielder','Germany'),
('Thomas Delaney','1991-09-03','M',1.82,'Midfielder','Denmark'),
('Axel Witsel','1989-01-12','M',1.86,'Midfielder','Belgium'),

('Kepa Arrizabalaga','1994-10-03','M',1.86,'GoalKeeper','Spain'),
('Antonio Rüdiger','1993-03-03','M',1.90,'GoalKeeper','Germany'),
('Marcos Alonso','1990-12-28','M',1.88,'Left back','Spain'),
('Jorginho','1991-12-20','M',1.80,'Midfielder','Brazil'),
('Danny Drinkwater','1990-03-05','M',1.77,'Midfielder','England'),
('Ross Barkley','1993-12-05','M',1.85,'Attacking midfielder','England'),
('Pedro','1987-07-28','M',1.69,'Forward','Spain'),
('Willy Caballero','1981-09-28','M',1.86,'Goalkeeper','Argentina'),
('Olivier Giroud','1986-09-30','M',1.93,'Striker','France'),
('Davide Zappacosta','1992-06-11','M',1.82,'Right back','Italy'),
('Willian','1988-08-09','M',1.75,'Attacking midfielder','Brazil'),
('Andreas Christensen','1996-04-10','M',1.88,'Centre back','Denmark'),

('Davide Calabria','1996-12-06','M',1.77,'Right back','Italy'),
('José Mauri','1996-05-16','M',1.69,'Midfielder','Argentina'),
('Giacomo Bonaventura','1989-08-22','M',1.80,'Midfielder','Italy'),
('Samu Castillejo','1995-01-18','M',1.82,'Winger','Spain'),
('Suso','1993-11-19','M',1.77,'Attacking midfielder','Spain'),
('Fabio Borini','1991-03-29','M',1.80,'Winger','Italy'),
('Alessio Romagnoli','1995-01-13','M',1.88,'Centre back','Italy'),
('Andrea Bertolacci','1991-01-11','M',1.79,'Midfielder','Italy'),
('Riccardo Montolivo','1985-01-18','M',1.82,'Midfielder','Italy'),
('Pepe Reina','1982-08-31','M',1.88,'Goalkeeper','Spain'),
('Alessandro Plizzari','2000-03-12','M',1.91,'Goalkeeper','Italy'),
('Diego Laxalt','1993-02-07','M',1.78,'Left back','Uruguary'),

('Samir Handanović','1984-07-14','M',1.93,'Goalkeeper','SFR Yugoslavia'),
('Roberto Gagliardini','1994-04-07','M',1.90,'Midfielder','Italy'),
('Stefan de Vrij','1992-02-05','M',1.89,'Defender','Netherlands'),
('Mauro Icardi','1993-02-19','M',1.81,'Striker','Argentina'),
('Lautaro Martínez','1997-08-22','M',1.74,'Strick','Argentina'),

('Bernd Leno','1992-03-04','M',1.90,'Goalkeeper','Germany'),
('Mohamed Elneny','1992-07-11','M',1.80,'Defensive midfielder','Egypt'),
('Sokratis Papastathopoulos','1988-06-09','M',1.86,'Centre back','Greece'),
('Laurent Koscielny','1985-09-10','M',1.86,'Centre back','France'),
('Henrikh Mkhitaryan','1989-01-21','M',1.77,'Midfielder','Soviet Union'),
('Alexandre Lacazette','1991-05-28','M',1.75,'Forward','France'),
('Lucas Torreira','1996-02-11','M',1.68,'Midfielder','Uruguay'),
('David Ospina','1988-08-31','M',1.83,'Goalkeeper','Colombia'),

('Claudio Bravo','1983-04-13','M',1.84,'Goalkeeper','Chile'),
('Kyle Walker','1990-05-28','M',1.78,'Right back','England'),
('Danilo','1991-07-15','M',1.84,'Full back','Brazil'),
('John Stones','1994-05-28','M',1.88,'Centre back','England'),
('Raheem Sterling','1994-12-08','M',1.70,'Attacking midfielder','Jamaica'),
('İlkay Gündoğan','1990-10-24','M',1.80,'Midfielder','Germany'),
('Gabriel Je','1997-04-03','M',1.75,'Forward','Brazil'),
('Gabriel Jesus','1994-05-27','M',1.91,'Centre back','France'),
('Eliaquim Mangala','1991-02-13','M',1.88,'Centre back','France'),
('Kevin De Bruyne','1991-06-28','M',1.81,'Midfielder','Belgium'),
('Fabian Delph','1989-11-21','M',1.74,'Midfielder','England'),

('Fabian Delph','1986-12-15','M',1.85,'Goalkeeper','Coasta Rica'),
('Dani Carvajal','1992-01-11','M',1.73,'Right back','Spain'),
('Jesús Vallejo','1997-01-05','M',1.84,'Centre back','Spain'),
('Sergio Ramos','1986-03-30','M',1.84,'Centre back','Spain'),
('Raphaël Varane','1993-04-25','M',1.91,'Centre back','France'),
('Nacho','1990-01-18','M',1.80,'Defender','Spain'),
('Mariano','1993-08-01','M',1.80,'Striker','Spain'),
('Toni Kroos','1990-01-04','M',1.83,'Midfielder','East Germany'),
('Karim Benzema','1987-12-19','M',1.85,'Striker','France'),
('Gareth Bale','1989-07-16','M',1.85,'Winger','Wales'),
('Marcelo','1988-05-12','M',1.74,'Left back','Brazil'),

('Thiago Silva','1984-09-22','M',1.83,'Centre back','Brazil'),
('Marquinhos','1994-05-14','M',1.83,'Defender','Brazil'),
('Neymar','1992-02-05','M',1.75,'Forward','Brazil'),
('Leandro Paredes','1994-06-29','M',1.80,'Midfielder','Argentina'),
('hilo Kehrer','1996-09-21','M',1.85,'Centre back','Germany'),
('Presnel Kimpembe','1995-08-13','M',1.83,'Left back','France'),
('Marco Verratti','1992-11-05','M',1.65,'Midfielder','Italy'),
('Edinson Cavani','1987-02-14','M',1.84,'Striker','Uruguay'),
('Julian Draxler','1993-09-20','M',1.85,'Attacking midfielder','Germany'),
('Thomas Meunier','1991-09-12','M',1.90,'Right back','Belgium'),
('Alphonse Areola','1993-02-27','M',1.95,'Goalkeeper','France'),

('Marc-André ter Stegen','1994-04-30','M',1.87,'Goalkeeper','Germany'),
('Nélson Semedo','1993-11-16','M',1.77,'Right back','Portugal'),
('Gerard Piqué','1987-02-02','M',1.94,'Centre back','Spain'),
('Ivan Rakitić','1988-03-10','M',1.84,'Midfielder','Switzerland'),
('Sergio Busquets','1988-07-16','M',1.89,'Defensive midfielder','Spain'),
('Philippe Coutinho','1992-06-12','M',1.72,'Attacking midfielder','Brzail'),
('Arthur Melo','1996-08-12','M',1.71,'Midfielder','Brazil'),
('Luis Suárez','1987-01-24','M',1.82,'Striker','Uruguay'),
('Lionel Messi','1987-06-24','M',1.70,'Forward','Argentina'),
('Ousmane Dembélé','1997-05-15','M',1.78,'Forward','France'),
('Jordi Alba','1989-03-21','M',1.70,'Left back','Spain'),
('Sergi Roberto','1992-02-07','M',1.78,'Full back','Spain');

 * sqlite:///football.db
106 rows affected.

[]

In [24]:
%%sql

INSERT INTO Award VALUES ('Bayern Munichen','2009-04-18 CXE',1),
('Barcelona','2017-01-31 CXE',2),
('Paris Saint-Germain','2005-11-01 CXE',1),
('Real Madrid','2012-06-30 CXE',1),
('Manchester City','2014-02-28 TAE',3),
('Arsneal','2015-05-31 CNM',2),
('AC Milan','2000-10-11 CNM',1),
('Inter Milan','2017-10-12 CNM',3),
('Chelsea','2003-06-01 TAE',5),
('Liverpool','2003-01-12 ZIYI',1),
('Bayern Munchen','1998-01-01 SSR',2);

 * sqlite:///football.db
11 rows affected.

[]

In [25]:
%%sql
INSERT INTO RetiredPlayers VALUES 
('GeorgeHe', '1998-02-14'),
('ZIYI ANNE', '2016-02-28'),
('Bobby Bart', '2008-04-28'),
('Nancy Lee', '2019-06-31'),
('Nils Burinben', '2013-02-28'),
('Charlse Munchen', '1996-02-28'),
('Garry Yapa', '1996-02-28'),
('Jiandooz Hey', '1996-02-28'),
('Doris Wu', '2005-02-28'),
('Perry Hansen', '1996-02-28'),
('Bruce Bell', '1996-01-31');

 * sqlite:///football.db
11 rows affected.

[]

In [26]:
%%sql 
CREATE TRIGGER DateCHECK 
AFTER INSERT OF Founded ON FootballTeam
Referencing 
    OLD ROW AS oldDate
    new row AS newDate
FOR EACH ROW WHEN (newDate.founded < date('now'))
DELETE FROM FootballTeam WHERE oldDate.founded = newDate.founded

 * sqlite:///football.db
(sqlite3.OperationalError) near "OF": syntax error
[SQL: CREATE TRIGGER DateCHECK
AFTER INSERT OF Founded ON FootballTeam
Referencing
    OLD ROW AS oldDate
    new row AS newDate
FOR EACH ROW WHEN (newDate.founded < date('now'))
DELETE FROM FootballTeam WHERE oldDate.founded = newDate.founded]
(Background on this error at: http://sqlalche.me/e/e3q8)